<script type="text/template" id="pokemon-list-item-template">
  <li class="poke-list-item" data-id="<%%= pokemon.id %>">
    <%%= pokemon.escape("name") + " –– " + pokemon.escape("poke_type") %>
  </li>
</script>


<script type="text/template" id="pokemon-detail-template">
  <section class="detail">

    <img src="<%%= pokemon.escape('image_url') %>" alt="pokemon" />

    <%% _.each(pokemon.attributes, function (value, key, list) { %>
      <%% if (key !== "id" && key !== "image_url"){ %>
        <detail><%%= key + ": " + value %></detail>
      <%% } %>
    <%% }) %>

  </section>

  <span style="font-weight: bold;">Toys:</span><br>
  <ul class="toys"></ul>
</script>


<script type="text/template" id="toy-list-item-template">
  <li class="toy-list-item"
    data-id="<%%= toy.id %>"
    data-pokemon-id="<%%= toy.escape("pokemon_id") %>">
    <%%= toy.escape("name") %><br>
    <%%= toy.escape("happiness") %><br>
    <%%= toy.escape("price") %><br>
  </li>
</script>

<script type="text/template" id="toy-detail-template">
</script>

<script type="text/template" id="pokemon-form-template">
</script>


<!-- create_table "pokemons", force: true do |t|
  t.string   "name",       null: false
  t.integer  "attack",     null: false
  t.integer  "defense",    null: false
  t.string   "poke_type",  null: false
  t.string   "moves",                   array: true
  t.string   "image_url",  null: false
  t.datetime "created_at"
  t.datetime "updated_at"
end -->
